In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import io
%matplotlib inline

In [31]:
filepath = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-Coursera/laptop_pricing_dataset_mod1.csv"
df = pd.read_csv(filepath)

In [32]:
df["Screen_Size_cm"] = np.round(df["Screen_Size_cm"] , 2)

In [33]:
df.head()

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.56,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.62,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.62,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.78,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.62,1.8,8,256,1.91,837

In [34]:
df.dtypes

Unnamed: 0          int64
Manufacturer       object
Category            int64
Screen             object
GPU                 int64
OS                  int64
CPU_core            int64
Screen_Size_cm    float64
CPU_frequency     float64
RAM_GB              int64
Storage_GB_SSD      int64
Weight_kg         float64
Price               int64
dtype: object

In [35]:
avarage_Weight_kg = df["Weight_kg"].mean()
avarage_Weight_kg

1.8622317596566522

In [36]:
df["Weight_kg"] = df["Weight_kg"].fillna(avarage_Weight_kg)

In [43]:
df.head()

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.56,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.62,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.62,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.78,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.62,1.8,8,256,1.91,837

In [45]:
df["Weight_kg"] = df["Weight_kg"]*2.205

In [47]:
df = df.rename(columns={"Weight_kg": "Weight_lb"})

In [49]:
df.head()

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_lb,Price
0,0,Acer,4,IPS Panel,2,1,5,35.56,1.6,8,256,3.52800,978
1,1,Dell,3,Full HD,1,1,3,39.62,2.0,4,256,4.85100,634
2,2,Dell,3,Full HD,1,1,7,39.62,2.7,8,256,4.85100,946
3,3,Dell,4,IPS Panel,2,1,5,33.78,1.6,8,128,2.69010,1244
4,4,HP,4,Full HD,2,1,7,39.62,1.8,8,256,4.21155,837

In [51]:
df["Screen_Size_cm"] = df["Screen_Size_cm"] / 2.54

In [53]:
df = df.rename(columns = {"Screen_Size_cm" : "Screen_Size_inc"})

In [55]:
df.head()

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_inc,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_lb,Price
0,0,Acer,4,IPS Panel,2,1,5,14.000000,1.6,8,256,3.52800,978
1,1,Dell,3,Full HD,1,1,3,15.598425,2.0,4,256,4.85100,634
2,2,Dell,3,Full HD,1,1,7,15.598425,2.7,8,256,4.85100,946
3,3,Dell,4,IPS Panel,2,1,5,13.299213,1.6,8,128,2.69010,1244
4,4,HP,4,Full HD,2,1,7,15.598425,1.8,8,256,4.21155,837

In [59]:
df["CPU_frequency"] = df["CPU_frequency"] / df["CPU_frequency"].max()

In [61]:
df.head()

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_inc,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_lb,Price
0,0,Acer,4,IPS Panel,2,1,5,14.000000,0.551724,8,256,3.52800,978
1,1,Dell,3,Full HD,1,1,3,15.598425,0.689655,4,256,4.85100,634
2,2,Dell,3,Full HD,1,1,7,15.598425,0.931034,8,256,4.85100,946
3,3,Dell,4,IPS Panel,2,1,5,13.299213,0.551724,8,128,2.69010,1244
4,4,HP,4,Full HD,2,1,7,15.598425,0.620690,8,256,4.21155,837

In [63]:
bins = np.linspace( df["Price"].min() , df["Price"].max() , 4 )

In [65]:
group_names  = ["low" , "medium", "high"]

In [69]:
df["Price_Binned"] = pd.cut(df["Price"] , bins , labels = group_names , include_lowest = True)

In [71]:
df.head()

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_inc,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_lb,Price,Price_Binned
0,0,Acer,4,IPS Panel,2,1,5,14.000000,0.551724,8,256,3.52800,978,low
1,1,Dell,3,Full HD,1,1,3,15.598425,0.689655,4,256,4.85100,634,low
2,2,Dell,3,Full HD,1,1,7,15.598425,0.931034,8,256,4.85100,946,low
3,3,Dell,4,IPS Panel,2,1,5,13.299213,0.551724,8,128,2.69010,1244,low
4,4,HP,4,Full HD,2,1,7,15.598425,0.620690,8,256,4.21155,837,low

In [73]:
dummy_variable1 = pd.get_dummies(df["Screen"])